{% block content %}
    <div class="container">
        <h1>Book List</h1>
        <hr>
        <form action="{% url 'book_search' %}" method="GET">
            <input type="text" name="query" placeholder="Search for books...">
            <button type="submit">Search</button>
        </form>
        <div class="row">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/pic/{{ book.title }}.jpg" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                        <p class="card-text">{{ book.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'book_detail' book_id=book.id %}" class="btn btn-sm btn-outline-secondary">Details</a>
                                <a href="{% url 'book_edit' book_id=book.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                <a href="/book/delete/{{ book.bid }}" class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                            <small class="text-muted">{{ book.catIds }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
